.game-button {
  margin-top: 50rem;
  z-index: 0;
}

.game-button button {
  background-color: hsla(100, 50%, 10%, 0);
  font-size: 1.75rem;
  width: 35rem;
  height: 5.5rem;
  color: white;
  transition: all 100ms ease-in 0ms;
  border-radius: 5px;
}

.game-button button:hover {
  background-color: hsla(100, 40%, 40%, 0.5);
  transition: all 100ms ease-in 0ms;
  cursor: pointer;
}
