.filecontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  position: absolute;
  margin-top: 200px;
  margin-bottom: 250px;
  height: 700px;
  width: 1500px;
  border: 7px solid red;
  border-radius: 15px;
  background-color: rgb(2, 20, 2);
}
.filecard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  margin: 0px;
  height: 400px;
  width: 1200px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: white;
}

.rightfilecard {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 900px;
  height: 100%;
}

.filecard img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: -0.1px;
}
.textSelector {
  color: black;
  display: flex;
}
.profileSelector {
  color: red;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: rgb(2, 20, 2);
  border: 5px solid rgb(2, 20, 2);
  border-radius: 10px;
  width: 700px;
  display: flex;
  justify-content: center;
}
.profileHeader {
  display: flex;
  justify-content: center;
}

/* .profileDetails.values {
  border: 1px solid red;
}
.profileDetails.keys {
  border: 1px solid red;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
} */

.characterImageProfile {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 100%;
  width: 30rem;
  align-self: flex-start;
  position: relative;
  left: 1px;
}
.backButton {
  background-color: hsla(250, 50%, 50%, 0);
  color: white;
  margin: 1rem;
  height: 4rem;
  width: 13rem;
  border-radius: 5px;
  font-size: 1.25rem;
}
.backButtonDiv {
  display: flex;
  justify-content: left;
}

.all-profile-details {
  display: grid;
  grid-template-rows: 4;
  grid-template-columns: 2;
}

.all-profile-details * {
  border: 1px solid red;
  margin-left: 8rem;
}

#name-key {
  grid-row: 1;
  grid-column: 1;
  margin-top: 6rem;
}
#name-val {
  grid-row: 1;
  grid-column: 2;
  margin-top: 6rem;
}

#portrayed-key {
  grid-row: 2;
  grid-column: 1;
}
#portrayed-val {
  grid-row: 2;
  grid-column: 2;
}

#description-key {
  grid-row: 3;
  grid-column: 1;
}
#description-val {
  grid-row: 3;
  grid-column: 2;
}

#status-key {
  grid-row: 4;
  grid-column: 1;
}
#status-val {
  grid-row: 4;
  grid-column: 2;
}

.flexbox {
  display: flex;
  justify-content: center;
}
